# Dependencies
node_modules
.pnp
.pnp.js

# Testing
.coverage
.rp
coverage

# Next.js
.next/
out/
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Env Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Private Documentation & Assets (Root only)
/Resume.pdf
/IMPLEMENTATION_LOG.md
/CI_CD_STRATEGY.md
/BLOG_WRITING_GUIDE.md
