services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio-web
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
